* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* changed element selectors to reflect the semantic html changes. Fixed order of the css page for easier reading and matching with the html's order format.  */

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* added the image that was previously linked in the .hero class to the html on line 29. Changed the height from 800px to auto to fix cutoff and improve responsiveness on different resolultions.  */
#hero {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*  */
/* main content */

/* content class was only used one time in html, so was formatted to an id selector on line 31. #content is affecting the entirety of the <main> tag from line 31 to line 53. */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* refactor .search-engine-optimization, .online-reputation-management, .social-media-marketing classes into .banner section.   */
.banner-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*  It is setting the max-height of the images to 200px, while also giving them a float property to the left. There is a right margin of 25px set, to give the image space between it's sibling elements <h2> and <p>. */
.banner-section-img-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* It is giving the same max-height as the other images in the <main>, but instead positioning the image to the right. With the float property set to right the image starts from the right and the <p> and <h2> elements are positioned to it's left with a margin of 25px seperating them.  */
.banner-section-img-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

/* The <h2> is given a margin from the bottom of 20px that is separating them from the <p> underneath it. The font-size is also set to 36px to signify a title or importance.  */
.banner-section-h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* main content end */
/*  */

/*  */
/* benefits summary  */

/* benefits class was only used one time in html, so was formatted to an id selector on line 54. #benefits is affecting the entirety of the <summary> tag from line 54 to 76. */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* It's giving each of the three individual boxes a bottom margin of 32px. Also changing the text colors of all the elements nested within the <aside> tags. */
.benefit-aside {
    margin-bottom: 32px;
    color: #ffffff;
}

/* It's giving the title cards of the boxes a bottom margin of 10px. It is also aligning the text to the center of the <aside> container.  */
.benefit-h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* It is displaying the images on top of one another, while also giving it margin of 10px from the top and bottom of its siblings elements (<p> and <h3>). We're also setting a max-width of the image to fit within it's container and an auto value to center the image. */
.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* benefits summary end */
/*  */

/*  */
/* footer */

/* change .footer class into footer element. Removed bloat class that was affecting the footer element in line 74. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* footer end */
/*  */